@tailwind base;
@tailwind components;

/* Material input field stuff */

.material-input-container {
    @apply relative bg-gray-200 inline-block h-16;
}


.material-input-icon {
    top: 50%; /* Moves the element 50% from the top i.e. the parent container */
    transform: translateY(-50%);

    @apply absolute h-5 w-5;
}

.material-input-icon-start {
    @apply left-0 mx-3;
}

.material-input-icon-end {
    @apply right-0 mx-2;
}

.material-input-with-icon-start .material-input {
    @apply pl-10;
}

.material-input-with-icon-end .material-input {
    @apply pr-10;
}


.material-input {
    @apply bg-transparent w-full h-full rounded-b-none rounded-t-md px-3 pt-2 border-b border-black;
}

.material-input:hover {
    @apply bg-gray-300;
}

.material-input:focus {
    @apply outline-none bg-gray-400;
}

.material-input-label-inner {
    @apply origin-top-left duration-150;
}

.material-input:focus + .material-input-label .material-input-label-inner {
    @apply text-purple-600 transform -translate-y-3 scale-75 duration-150;
}

.material-input:valid + .material-input-label .material-input-label-inner {
    @apply transform -translate-y-3 scale-75 duration-150;
}

.material-input-label {
    @apply absolute left-0 top-0 w-full h-full flex items-center pointer-events-none px-3;
}


.material-input-with-icon-start .material-input-label {
    @apply pl-10;
}

.material-input-with-icon-end .material-input-label {
    @apply pr-10;
}


.material-input-border {
    height: 2px;

    @apply absolute w-full bottom-0 bg-purple-500 transform scale-x-0 opacity-0 duration-150;
}

.material-input:focus ~ .material-input-border {
    @apply transform scale-x-100 opacity-100 duration-150;
}

/* End material input field stuff */

/* Button stuff */

.material-button {
    @apply px-2 py-1 font-semibold uppercase tracking-wider rounded;
}

.material-button:focus {
    @apply outline-none;
}

.material-button-text {
    @apply bg-transparent text-secondary-dark;
}

.material-button-text:hover {
    @apply bg-secondary-100;
}

.material-button-text:focus {
    @apply bg-secondary-200;
}

.material-button-text:active {
    @apply bg-secondary-300;
}

.material-button-outline {
    @apply border border-secondary-dark text-secondary-dark;
}

.material-button-outline:hover {
    @apply bg-secondary-100;
}

.material-button-outline:focus {
    @apply bg-secondary-200;
}

.material-button-outline:active {
    @apply bg-secondary-300;
}

.material-button-contained {
    @apply bg-secondary text-secondary-text shadow-md;
}

.material-button-contained:hover {
    @apply shadow-lg transition ease-out duration-300 bg-secondary-dark;
}

.material-button-contained:active {
    @apply bg-secondary-light;
}

/* End material button stuff */

/* Signup form stuff */
@screen md {
    .signup-form {
        animation-name: none;
    }
}

.signup-form {
    animation-name: bottom-popup;
    animation-duration: 1s;
}

@keyframes bottom-popup {
    from  {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}


@tailwind utilities;